@import 'tailwindcss';
@import '@splidejs/splide/dist/css/themes/splide-default.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-poppins: 'Poppins';
    --color-primary: oklch(0.72 0.11 140);
}
[x-cloak] { display: none !important; }